<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MopidyTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MopidyTray.Properties.Settings>
            <setting name="ShowNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value />
            </setting>
            <setting name="HostUri" serializeAs="String">
                <value>ws://localhost:6680/mopidy/ws</value>
            </setting>
            <setting name="URIConfirmed" serializeAs="String">
                <value>False</value>
            </setting>
        </MopidyTray.Properties.Settings>
    </userSettings>
</configuration>